<!DOCTYPE html>
<html>
  <head><title><%= title %></title>
  <%- include('views/partials/head') %>
  </head>
  <body>
    <%- include('views/partials/header') %>
    <%- include('views/teamBody') %>
    <%- include('views/partials/footer') %>
  <script src="./js/script.js"></script>
  </body>
</html>